@model Matematicas.Models.FMixto

<main role="main">

    <form asp-action="FSuma">
        <div>
            <label for="form-control">
                Ingrese el numerador:
            </label>
            <input asp-for="numerador" class="form-control">
        </div>

        <div>
            <label for="form-control">
                Ingrese el denominador:
            </label>
            <input asp-for="denominador" class="form-control">
        </div>
        <br>
        +
        <br>
        <div>
            <label for="form-control">
                Ingrese el numerador:
            </label>
            <input asp-for="numerador2" class="form-control">
        </div>

        <div>
            <label for="form-control">
                Ingrese el denominador:
            </label>
            <input asp-for="denominador2" class="form-control">
        </div>
        
        <br>
        @Html.DisplayFor(model => model.Mensaje)
        <br>
        <br>
        <input type="submit" value="Calcular" class="btn btn-primary" /><br>
    </form>
    
</main>